*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg{
    background-image: url("https://f.hubspotusercontent10.net/hubfs/5816369/Dance-GallerySliderImages.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color:rgb(87, 26, 99); */
    color:rgb(76, 73, 73);
    text-shadow: 10px 10px 10px white;
    font-size: 80px;
}
.bg h4{
    font-size: 30px;
    color:beige;
    font-weight: 500;
}

.box1{
    width:90vw;
    margin: 0 auto;
}
.box1 ul li{
    line-height: 2;
    list-style-type: none;
    font-size: 20px;
}
.pt{
    width:90vw;
    margin: 0 auto;
}






footer{
    background-color:rgb(68, 68, 68);
    
    height: 30vh;
}

.bootstrap-icons{
    color:white
}
.last{
    height: 8vh;
}
.link{
    text-decoration: none;
}
.size{
    margin-bottom: 100px;
}